[Unit]
Description=6800 LED Controller

[Service]
ExecStart=/home/pi/rpi-analytics/led-controller/runme.sh
Restart=always
WorkingDirectory=/home/pi/rpi-analytics/led-controller

[Install]
WantedBy=multi-user.target
